label{
  margin-right: 10px;
}
select {
  margin-right: 25px;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
}

#result-count {
  margin-bottom: 10px;
  font-weight: bold;
}

#output-details {
  position: fixed;
}